*{
    box-sizing: border-box;
}

.wrap{
    width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    display: grid;
}

body{
    background-color: blue;
    display: block;
    font-family: sans-serif;
}

nav{
    padding: 20px;
    background-color: aqua;
    border-radius: 10px 10px 0 0;
}

main{
    padding: 10px;
    overflow: hidden;
}

h1{
    font-weight: lighter;
}

footer{
    position: sticky;
    padding: 10px;
}