*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background-color: blue;
    font-family: sans-serif;
    margin: 0;
}

.site{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: min-content auto;
}

.contentcontainer{
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr auto;
}

.content{
    padding: 15px;
}

p{
    text-align: justify;
}

.title{
    text-align: center;
    grid-row: 1/2;
    background-color: aquamarine;
    padding: 12px;
}

.navigation{
    text-align: right;
}

.sidebarcontainer{
    grid-column: 3/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 1fr min-content;
}

.linkscontainer{
    background-color: darkkhaki;
    grid-column: 1/2;
    grid-row: 2/3;
}

.actuallinks{
    background-color: lightseagreen;
    padding: 8px;
    list-style: none;
}

.nav :hover{
    font-weight: bold;
}

.contentcontainer{
    background-color: salmon;
}

.actuallinks :hover{
    font-weight: bold;
}

.footer{
    background-color: fuchsia;
    grid-column: 1/4;
    grid-row: 2/3;
    justify-self: end;
}