*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background-color: #4ef9bd;
    font-family: sans-serif;
    margin: 0;
}

.site{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1fr auto;
}

img{
    max-width: 600px;
    display: flexbox;
    height: auto;
    justify-content: center;
}


.contentcontainer{
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: min-content min-content auto;
}

.title{
    grid-row: 1/2;
    text-align: center;
    background-color: yellow;
    padding: 12px;
}

.navigation{
    grid-column: 1/2;
    text-align: left;
}

.nav :hover{
    font-weight: bold;
}

.content{
    grid-row: 2/3;
    background-color: blue;
    padding: 16px;
}

.sidebarcontainer{
    grid-column: 3/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: min-content 300px min-content;
}

.links{
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: orange;
    border-radius: 18px;
    padding: 10px;
}

.actuallinks{
    background-color: red;
    border-radius: 18px;
    padding: 15px;
    list-style: none;
}

.backtotop{
    grid-column: 3/4;
    grid-row: 1/2;
    position: sticky;
    top: 10px;
    text-align: right;
}

.backtotop :hover{
    text-decoration: underline;
}

.actuallinks :hover{
    font-weight: bold;
}


.footer{
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: #968955cb;
    align-self: end;
}